body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
  }
  
  h1 {
    text-align: center;
  }
  
  .list-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .list {
    width: 45%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .list ul li {
    margin-bottom: 10px;
  }
  
  #user-form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  #user-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #user-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  #user-form button {
    width: 100%;
    padding: 10px;
  }
  